# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
psycopg2
requests

# ----------------------
# Production Server
# ----------------------
gunicorn

# ----------------------
# Python Modules
# ----------------------
passlib