{% extends "base.html" %}

{% block main %}
<div>
    <h1>Event Details</h1>
    <h3>{{ event.name }}</h3>
    
    <p>Starting: {{ event.startdate.date() }} and continuing for {{ event.duration }} day(s)<br/>{{ event.starttime }} - {{ event.endtime }}<br/>Venue: {{ event.venue }}</p>
    
   
</div>
<div>
    <h3>Human Resources</h3>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Rate</th>
            <th>Duration</th>
            <th>Total Cost</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <form class='btn-form' action="{{ url_for('newresource',activityid=event.activityid) }}">
        <input type="submit" value="+" class="btn btn-circle"/>Add Resource
    </form>
</div>

<div>
    <h3>Material Resources</h3>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Unit Cost</th>
            <th>Quantity</th>
            <th>Total Cost</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <form class='btn-form' action="{{ url_for('newresource',activityid=event.activityid) }}">
        <input type="submit" value="+" class="btn btn-circle"/> Add Resource
    </form>
</div>


{% endblock %}