{% extends 'base.html' %}

{% block main %}

  <h2>Please sign in</h2>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith%}
<form class="form-login" method="POST" action="{{ url_for('login') }}" novalidate>  
  <div class="form-group">
    <label for="username" >Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Your username" required >
  </div>
  <div class="form-group">
    <label for="password" >Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
  </div>
    <button id="signin" type="submit" name="submit">Sign In</button>
</form>
{% endblock %}