{% extends "base.html" %}

{% block main %}
<h1 class="page-header">New Title</h1>
<p class="lead"> Title details</p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  <div class="Profile-form">
    <form name= "newproject" method="POST"s>
        <div class="form-group">
            <input type="text" name="title" placeholder="Full Title" ng-model="title"/> 
        </div>
        <div class="form-group">
            <input type="text" name="subtitle" placeholder="Sub Title" ng-model="subtitle"/> 
        </div>
        <div class="form-group">
            <textarea name="description" placeholder="Description" rows="10" cols="30" ng-model="desc"></textarea>
        </div>
        <div class="form-group">
            <input type="text" name="authorfname" placeholder="Author First Name" ng-model="authorF"/> 
        </div>
        <div class="form-group">
            <input  type="text" name="authorlname" placeholder="Author Last Name" ng-model="authorL"/> 
        </div>
        <button id="newTitle" type="submit" name="submit">Submit</button>
    </form>
  </div>
{% endblock %}