{% extends "base.html" %}

{% block main %}
<h2> New User</h2><div>
    
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
    
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
         <br>
         <input type="text" name="fname" placeholder="First Name"/> 
    </div>
    <div class="form-group">
         <br>
         <input type="text" name="lname" placeholder="Last Name"/> 
    </div>
    <div class="form-group">
       Role <select name="role">
                <option value="GeneralManager">General manager</option>
                <option value="FinanceManager">Finance Manager</option>
                <option value="MarketingManager">Marketing Manager</option>
                <option value="MarketingOfficer">Marketing Officer</option>
                <option value="LeadEditor">Lead Editor</option>
                <option value="Accountant">Accountant</option>
                <option value="PublishingAssistant">Publishing Assistant</option>
            </select> </div>
    <div class="form-group">
     <br>
     <input type="email" name="email" placeholder="Email"/> 
    </div>
      <button type="submit" name="submit" >Submit</button>
</form>

</div>
{% endblock %}
