{% extends "base.html" %}

{% block main %}
<form method="POST" enctype="multipart/form-data">

     <div class="form-group">
         <br>
       <input type="text" name="isbn" placeholder="ISBN"/> 
      </div>
     <div class="form-group">
     <br>
       <input type="text" name="width" placeholder="Width"/> 
      </div>
     <div class="form-group">
     <br>
       <input type="text" name="height" placeholder="Height"/> 
      </div>
    <div class="form-group">
     <br>
       <input type="text" name="pagecount" placeholder="PageCount"/> 
      </div>
    <div class="form-group">
     <br>
       <input type="date" name="pubdate" /> 
      </div>
      <button type="submit" name="submit" >Submit</button>
</form>


{% endblock %}