{% extends "base.html" %}

{% block main %}
<h2> Uwi Press Title Management</h2><div>
<form method="POST" enctype="multipart/form-data">
<divclass="form-group">
       Select By:     <select name="Search_by">
                <option value="ISBN">ISBN</option>
                <option value="Author">Author</option>
                <option value="Title">Title</option>
            </select> </div>
     <div class="form-group">
         <br>
         Search: <input type="text" name="Search" /> 
      </div>
      <button type="submit" name="submit" >Submit</button>
</form>

</div>
{% endblock %}


      <div class="form-group">
         <input id="series" type="text" name="series" placeholder="Series"/> 
      </div>
      
      <div class="form-group">
         <input id="shorttitle" type="text" name="shorttitle" placeholder="Short Title"/> 
      </div>
     <div class="form-group">
         <input id= "company" type="text" name="company" placeholder="Company"/> 
      </div>
     <div class="form-group">
         <input id="publisher" type="text" name="publisher" placeholder="Publisher"/> 
      </div>
     <div class="form-group">
         <input id="editions" type="text" name="editions" placeholder="Editions"/> 
      </div>
      </div>
     <div class="form-group">
         <input id="vol" type="text" name="vol" placeholder="Vol"/> 
      </div>
     <div class="form-group">
         <input id="class" type="text" name="class" placeholder="Class"/> 
      </div>

  
     <div class="form-group">
         <input id="format" type="text" name="format" placeholder="Format"/> 
      </div>
     <div class="form-group">
         <input id="pud_date" type="date" name="pud_date" placeholder="Pub Date"/> 
      </div>
      
        <div class="form-group">
            <input id="work" type="text" name="work" placeholder="Work"/> 
        </div>
        <div class="form-group">
            <input id="EAN_ISBN-13" type="text" name="EAN_ISBN-13" placeholder="EAN/ISBN-13"/> 
        </div>
        <div class="form-group">
            <input id="season" type="text" name="season" placeholder="Season"/> 
        </div>
        <div class="form-group">
            <input id="ISBN-10" type="text" name="ISBN-10" placeholder="ISBN-10"/> 
        </div>
        <div class="form-group">
            <select id="bisac_status" name="bisac_status">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>
        <div class="form-group">
            <input id="page_count" type="text" name="page_count" placeholder="Page Count"/> 
        </div>
        <div class="form-group">
            <input id="trim" type="text" name="trim" placeholder="Trim (w x l)"/> 
        </div>
        
                <div class="form-group">
            <label>Upload Title Cover </label>
            <input id="file" type="file" name="file" class="form-control"/>
        </div>
        
        