{% extends "base.html" %}

{% block main %}
<div>
    <h1> {{ title.Title.title }}</h1>
    <h4><em> {{ title.Title.subtitle }} </em><br/>{{ title.Author.lastname }}, {{ title.Author.firstname }}</h4>
    <p>Category: {{ title.Category.name }}</p>
    <div>
        <p>{{ title.Title.description }}</p>
    </div>
</div>
{% if pub != None %}
<div>
    <h3>Publishing Data</h3>
    <table class="table table-hover">
        <tr>
            <th>ISBN</th>
            <th>Dimensions</th>
            <th>Page Count</th>
            <th>Publication Date</th>
        </tr>
        <tr>
            <td>{{ pub.isbn }}</td>
            <td>{{ pub.width }} x {{ pub.height }}</td>
            <td>{{ pub.pagecount }}</td>
            <td>{{ pub.pubdate }}</td>
            
        </tr>
    </table>>
</div>
{% else %}
<div>
    <p>Awaiting Publishing Data</p>
</div>
{% endif %}

{% if sales != None %}
<div>
    <h4>Sales Data</h4>
    <table class="table table-hover">
        <tr>
            <th>Local Sales</th>
            <th>Regional Sales</th>
            <th>International Sales</th>
            <th>Total Sales</th>
        </tr>
        <tr>
            <td>${{ sales.localsales }}</td>
            <td>${{ sales.regionalsales }}</td>
            <td>${{ sales.internationalsales }}</td>
            <td><strong>${{ sales.totalsales }}</strong></td>
        </tr>
    </table>
</div>
{% else %}
<div>
    <p>Awaiting Sales Data</p>
</div>
{% endif %}
<div ng-controller='ActivityListController'>
    <h4>Current Activities</h4>
    <table class="table table-hover" ng-init="get({{ title.Title.titleid }},false,true)">
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>Duration(days)</th>
            <th>Total Cost</th>
            <th>Phase Budget Allocation</th>
        </tr>
        <tr ng-repeat="a in activities" ng-click="go('/activity/'+a.id)">
            <td>/# a.name #/</td>
            <td>/# a.startdate #/</td>
            <td>/# a.duration #/</td>
            <td>$/# a.total #/</td>
            <td>/# a.allocation #/%</td>
        </tr>
    </table>
    
    <form class='btn-form' action="{{ url_for('newactivity',titleid = title.Title.titleid) }}">
        <input type="submit" value="+" class="btn btn-circle"/> New Activity
    </form>

</div>

<div ng-controller='MilestoneController'>
    <h4>Current Phase Milestones</h4>
    <table class="table table-hover" ng-init="get({{ title.Title.titleid }})">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Achieved</th>
            <th></th>
        </tr>
        <tr ng-repeat="m in milestones" >
            <td>/# m.name #/</td>
            <td>/# m.date #/</td>
            <td>/# m.achieved #/</td>
            <td ng-click="toggleedit({{ title.Title.titleid }},m)"><em>edit</em></td>
        </tr>
    </table>
    
    <button type="submit" class="btn btn-circle" ng-click="togglenew()">+</button> New Milestone
    
    <form action="{{ url_for('newmilestone',titleid = title.Title.titleid) }}" ng-if="new" method='POST'>
        <div class="form-group">
            <input type="text" name='name' placeholder='Milestone Name' /> hour(s)
        </div>
        <div class="form-group">
            <label for="date">Date to be Achieved</label>
            <input type="date" name='date'/> hour(s)
        </div>
        <input type="submit" value="Submit"/>
    </form>
    
    <form action="/# url #/" ng-if="edit" method='POST'>
        <div class="form-group">
            <br/>
            <label for="date">Date to be Achieved</label>
            <input type="date" name='date'/>
            <span style='margin-left:50px;'>
                <label for="achieved">Achieved</label></label>
                <input type="checkbox" name='achieved'/>
            </span>
        </div>
        <input type="submit" value="Submit"/>
    </form>

</div>

{% endblock %}